<div class="jumbotron">
  <h1>Road Trips!</h1>
  <p>Small text</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class="container-fluid">
  
<h1>Roads well traveled...</h1>
<%= link_to 'Begin your road trip', new_road_trip_path %>

  <% @road_trips.each do |road_trip| %>
      <p><%= road_trip.title %></p>
      <p><%= link_to 'View trip', road_trip %></p>
  <% end %>

  <%= link_to 'All profiles', profiles_path %>
</div>
