.container-fluid {
  padding: 0;
}

.header_button {
  background-color: #9ACE0D;
  height: 40px;
  width: 80px;
  border-style: none;
  border-radius: 6px;
  color: white;
  float: right;
  margin-bottom: 20px;
  margin-left: 10px;
}

.header_button:hover {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
}

.jumbotron {
  text-align: center;
}
