.jumbotron_button {
  background-color: #9ACE0D;
  height: 60px;
  width: 300px;
  border-style: none;
  border-radius: 30px;
  color: white;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 2em;
}

.jumbotron_button:hover {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.5);
}

.jumbotron {
  text-align: center;
}

.jumbotron_header {
  color: white;
}

.carousel-control { background: none !important; filter: none !important; progid:none !important; }